!!!
%html
  %head
    %title Trainart
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #site_header
      .logo
        =image_tag 'rails.png'
      .menu
        %a.menu__link{href: photos_url}
          Фотографии
        %a.menu__link{href: pictures_url}
          Картины
        - @all_pages.each do |page|
          %a.menu__link{href: page_path(page)}
            = page.title
    #site_content
      = yield
